*
{
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.insidebox
{
    border: 2px solod black;
    margin: 2px;
    display: flex;
}
.container
{
    width: 100%;
    position: relative;
    /* border: 3px solid black; */
    overflow: auto;
}
#Backimg
{
    width: 100%;
}
#head
{
    /* position:absolute ;
    top: 14%;
    left: 39%; */
    margin-left: 185px;
    font-style: italic;
    font-size: 3.5rem;
}
.firstbox
{
    /* border: 2px solid black; */
    margin: 2px;
}
.secondbox
{
   /* border: 2px solid black; */
   margin: 2px;   
}
.myform
{
    /* border: 2px solid black; */
    overflow: auto;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;   
}
label
{
    font-size: 30px;
    margin-bottom: 3px;
}
.inboxinput
{
    width: 350px;
    height: 40px;
    border-radius: 7px;
}
#Gender
{
    margin-bottom: 10px;
    border-bottom: 1px solid white;
}
#resbut
{
    /* border: 2px solid black; */
    margin: 2px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
#Register
{
    width: 655px;
    height: 35px;
    border-radius: 3px;
    background-color: green;
    color: white;
}
@media(max-width:1024px)
{
    #Backimg
    {
        height: 1500px;
    }
}
@media(max-width:431px)
{
    .container
    {
        overflow: auto ;
    }
    #Backimg
    {
        height: 1000px;
    }
    #head
    {
        margin: 10px;
        margin-left: 34px;
    }
    .myform
    {
        overflow: auto;
        width: 400px;
    }
    .insidebox
    {
        display: flex;
        flex-direction: column;
    }
}