*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body
{
    background-color: black;
}
.card
{
    width: 90%;
    height: fit-content;
    max-width: 450px;
    background: linear-gradient(135deg,blue,purple);
    color: white;
    margin: 100px auto;
    padding: 40px 35px;
    text-align: center;
    border-radius: 10px;
}
.search
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input
{
    border: 0;
    outline: 0;
    background-color: white;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    margin-right: 15px;
    font-size: 20px;
    filter:drop-shadow(0 0 0.75rem);
}
.search button
{
    border: 0;
    outline: 0;
    height: 60px;
    width: 60px;
    color: white;
    background: white;
    border-radius: 50%;
    filter:drop-shadow(0 0 0.75rem);
    cursor: pointer;
}
.search button img
{
    width: 30px;
}
.error
{
    padding-top: 10px;
    display: none;
}
.card h1
{
    /* margin-top: 5px; */
    padding-right: 10px;
    margin-bottom: 15px;
}
.weather
{
    margin-top: 10%;
    display: none;
}
.weather img
{
    width: 150px;
    margin-bottom: 12px;
}
.weather-details
{
    width: 100%;
    margin-top: 20px;
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    display: none;
}
.weather-details img
{
    width: 50px;
    padding-right: 5px;
}
.humidity
{
    width: fit-content;
    display: flex;
}
.wind-speed
{
    width: fit-content;
    display: flex;
}