#App
{
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 1.6rem;
}

.card
{
  border: 1px solid #000000;
  padding: 2em;
  /* grid-column: span 1; */
}